*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-color: var(--page-background);
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--eUkraine), var(--standard-fonts);
}

option {
  font-family: var(--standard-fonts);
  font-size: 15px;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  color: unset;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: unset;
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--eUkraine), var(--standard-fonts);
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

form input[type="search"]::-webkit-search-cancel-button,
form .input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* .textLink {
  color: #5eb3ff;
} */

.textLink:hover {
  color: #fff;
}

.centralLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageShadowWrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pageShadow {
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
  width: var(--page-width);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pageFooter-wrap {
  width: 100%;
  height: 80px;
}

.pageFooter-content {
  background-color: #232629;
  width: var(--page-width);
  height: 100%;
  margin: 0 auto;
  padding: 16px 80px;
  line-height: 20px;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageFooter-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.modalWrap {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000d9;
  align-items: center;
  justify-content: center;
  z-index: 500;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.modalBackground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modalContainer {
  width: 480px;
  z-index: 501;
}

.pageHeader-wrap {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--white-text);
}

.pageHeader-wrap.withExt:not(.forced) {
  position: absolute;
}

.setLH {
  --layout-height: 500px;
}

.accessibility {
  --page-header: var(--page-block);
  --page-header-lighter: var(--page-block);
  --white-text: #000;
  --black-text: #fff;
  --accent: #000;
  --accent2: #000;
  --white-background: var(--page-block);
  --acc-border: solid 1px #000;
  --white-herb: var(--black-herb);
  --acc-opacity: 1;
  --form-header: #000;
  --primary-button: #000;
  --diia-highlight: linear-gradient(#161616,#161616);
  --secondary-input: var(--page-header);
  --acc-border1: solid 1px transparent;
  --separator-reg: #000;
  --secondary-3: #000;
  --secondary-2: #000;
}

.pageHeader-wrap.withExt:not(.forced) .pageHeader-content {
  background: none;
  border: 0;
}

.pageHeader-wrap.withExt .pageHeader-logo {
  display: none
}

.pageHeader-wrap.withExt.forced .pageHeader-logo {
  display: flex;
}

.pageHeader-content {
  background: var(--page-header);
  display: flex;
  align-items: center;
  width: var(--page-width);
  margin: 0 auto;
  border-bottom: var(--acc-border);
  padding: 0 16px;
  height: 60px;
}

.pageHeader-logo {
  height: 60px;
  display: flex;
  align-items: center;
}

.pageHeader-title {
  display: flex;
  font-weight: 300;
  flex-direction: column;
  letter-spacing: -.02em;
  user-select: none;
}

.pageHeader-mspTitle {
  margin-bottom: 3px;
}

.pageHeader-ekTitle {
  margin-top: 3px;
}

.authButton {
  padding: 0 20px;
  height: 42px;
  margin: 9px 0;
  border-radius: 21px;
  background-color: var(--white-text);
  color: var(--black-text);
  line-height: 16px;
  font-size: 14px;
  margin-left: 6px;
}


.modal-authForm {
  align-items: baseline;
}

.modal-authForm .modalContainer {
  margin-top: 60px;
}

.authForm-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.authForm-head {
  padding-top: 28px;
  background: var(--page-header);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  color: var(--white-text);
  border-top-left-radius: var(--modal-border-radius);
  border-top-right-radius: var(--modal-border-radius);
}

.authForm-closeButton {
  position: absolute;
  left: 16px;
  top: 16px;
  opacity: .7;
  transition: opacity .2s linear;
  color: var(--white-text);
}

.authForm-closeButton:hover {
  opacity: 1;
}

.authForm-closeButton svg {
  width: 18px;
  height: 18px;
}

.authForm-logo {
  width: 38px;
}

.authForm-typeTabs {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 16px;
}

.authForm-typeTab {
  padding: 0 6px 11px;
  text-align: center;
  opacity: .7;
  font-weight: 500;
  width: 50%;
}

.authForm-typeTab:hover,
.authForm-typeTab.active {
  opacity: 1;
}

.formHeader {
  color: var(--form-header);
}

.authForm-typeSlider {
  background-color: var(--accent);
  position: absolute;
  height: 4px;
  width: 50%;
  transition: transform .2s ease;
  bottom: 0;
}

.authForm-body {
  background-color: var(--white-background);
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
}

.authForm-fieldset {
  position: relative;
  margin-top: 20px;
}

.authForm-fieldset:first-child {
  margin-top: 0;
}

.authForm-input {
  height: 46px;
  border-radius: 23px;
  line-height: 18px;
  padding: 22px 36px 10px 16px;
  outline: 0;
  width: 400px;
  border: 1px solid var(--separator-reg);
  background-color: var(--secondary-input);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.authForm-visToggle,
.authForm-icon {
  position: absolute;
  right: 17px;
  top: 14px;
  fill: var(--secondary-2);
  cursor: pointer;
}

.authForm-icon {
  right: 15px;
  top: 12px;
  pointer-events: none;
}

.authForm-visToggle:hover {
  fill: var(--secondary-3);
}

.authForm-error {
  color: var(--error);
  font-size: 11px;
  padding-left: 16px;
  line-height: 16px;
  margin-top: 4px;
  transition: all .2s ease-in-out;
  max-height: 1000px;
}

.authForm-error.general {
  text-align: center;
  padding-left: 0;
}

.authForm-error:empty {
  margin-top: 0;
  opacity: 0;
  max-height: 0;
}

.authForm-submitButton {
  border-radius: 18px;
  font-size: 14px;
  height: 36px;
  width: 100%;
  font-weight: 700;
  background-color: var(--primary-button);
  line-height: 18px;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: 200ms ease-in-out;
}

.authForm-submitButton:hover {
  background-color: transparent;
}

select.authForm-input,
select.searchForm-input {
  appearance: none;
  padding-bottom: 6px;
  padding-top: 20px;
  outline-style: none;
  cursor: pointer;
}

.animatedInput::placeholder,
.animatedInput::-webkit-input-placeholder {
  color: transparent;
}

.animatedPlaceholder {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 16px;
  line-height: 18px;
  pointer-events: none;
  color: var(--secondary-3);
  transition: all .2s ease-in-out;
}

.animatedInput:hover+.animatedPlaceholder,
.animatedInput:active+.animatedPlaceholder,
.animatedInput:focus+.animatedPlaceholder,
.animatedInput[is-empty=false]+.animatedPlaceholder {
  font-size: 10px;
  line-height: 16px;
  transform: translateY(-10px);
}

.pageHeader-extWrap {
  height: 420px;
  z-index: 4;
  width: 100%;
  position: absolute;
  top: 0;
}

.pageHeader-extContent {
  width: var(--page-width);
  margin-left: auto;
  background: var(--page-header);
  margin-right: auto;
  padding: 60px 0;
  height: 100%;
  text-align: center;
  color: var(--white-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pageHeader-extLogoWrap {
  justify-content: center;
  display: flex;
}

.pageHeader-extHerb,
.pageHeader-herb {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: var(--white-herb);
}

.authForm-herb {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: var(--white-herb);
}

.pageHeader-menuHerb {
  width: 32px;
  flex: 0 0 32px;
  height: 32px;
  margin: 3px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: var(--black-herb);
}

.pageHeader-extHerb {
  width: 96px;
  height: 96px;
}

.pageHeader-extLogo {
  height: 96px;
  width: 249px;
  margin-left: 12px;
  background-image: url('/images/msp_logo.png');
  background-color: var(--white-background);
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pageHeader-menuLogoWrap {
  display: flex;
}

.pageHeader-menuLogo {
  height: 38px;
  font-size: 9px;
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.pageHeader-extTitle {
  font-size: var(--page-title-size);
  letter-spacing: -.02em;
  margin-top: 24px;
}

.pageHeader-searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.pageHeader-personal {
  height: 59px;
  display: flex;
  position: relative;
  pointer-events: all;
  flex-shrink: 0;
}

.pageHeader-menuTrigger {
  display: none;
  color: var(--white-text)
}

.pageHeader-pdTrigger {
  height: 48px;
  margin: 6px 0;
  margin-left: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-2);
  padding-left: 12px;
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}

.pageHeader-pdTrigger:before,
.animatedButton:before {
  content: "";
  position: absolute;
  border-radius: inherit;
  left: -0;
  right: -0;
  bottom: -0;
  top: -0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
  background-color: #9243da;
  background-image: var(--diia-highlight);
  background-size: 200% 300%;
  -webkit-animation: 10s infinite granimate;
  animation: 10s infinite granimate;
}

.pageHeader-pdTrigger.active:before,
.pageHeader-pdTrigger:hover:before,
.animatedButton:hover:before,
.animatedButton.active:before {
  opacity: 1;
  visibility: visible;
}

.animatedButton {
  position: relative;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.animatedButton:hover,
.animatedButton.active {
  color: #fff;
  background-color: transparent;
}

.pageHeader-pdTrigger svg {
  margin-left: 6px;
  margin-right: 8px;
}

.pageHeader-pdWrap {
  position: absolute;
  background-color: rgb(243, 243, 243);
  color: #000;
  top: 100%;
  right: 0;
  display: none;
  overflow: hidden;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 #0000001f;
}

.pageHeader-pdItem {
  width: 100%;
  padding: 13px 15px 13px 50px;
  text-align: left;
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #555;
  position: relative;
}

.pageHeader-pdItem svg {
  position: absolute;
  left: 16px;
  top: 8px;
  fill: #555;
}

.pageHeader-pdItem:hover {
  background-color: #fff;
}

.pageHeader-pdWrap.shown {
  display: block;
}

.pageHeader-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--page-block);
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 8px 16px;
  color: #000;
  flex-direction: column;
  justify-content: space-between;
}

.pageHeader-menuTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.pageHeader-menuMid {
  flex: 1;
}

.pageHeader-menuMid a, .pageHeader-menuMid button {
  display: flex;
  align-items: center;
  height: 41px;
  font-size: 13px;
  line-height: 13px;
}

.pageHeader-menuMid svg {
  margin-right: 8px;
}

.pageHeader-menuPersonal {
  padding-top: 8px;
  border-top: solid 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader-menuPersonal .authButton {
  color: #fff;
  background-color: #000;
}

.pageHeader-menuItem {
  width: 100%;
  display: block;
  padding: 8px 0;
  position: relative;
}

.pageHeader-menuItem svg {
  position: absolute;
  left: 16px;
  top: 8px;
  fill: #555;
}

.pageHeader-menuLogout,
.pageHeader-menuButton {
  width: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin: 9px 0;
  border-radius: 21px;
  background-color: #000;
  color: #fff;
  line-height: 16px;
  font-size: 14px;
}

.pageHeader-menuButton {
  background-color: transparent;
  color: #000;
  margin-bottom: 0;
}

.pageHeader-menuLogout>svg,
.pageHeader-menuButton>svg {
  margin-left: -5px;
}

.pageHeader-menuLogout>span,
.pageHeader-menuButton>span {
  margin-left: 5px;
}

.pageHeader-menuTitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.pdPic {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  padding-bottom: 1px;
  padding-left: 1px;
  color: #fff;
  background-color: var(--accent2);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  line-height: normal;
  text-transform: capitalize;
}

.pageBody {
  width: var(--page-width);
  min-height: calc(100vh - var(--layout-height));
  margin: 60px auto 0;
  display: flex;
  background-color: #fff;
}

.form-uploadButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 46px;
  color: #fff;
  background: var(--primary-button);
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  font-size: 11px;
  padding-right: 20px;
  padding-left: 15px;
  max-width: 80px;
  font-weight: 500;
}

.form-fileInput {
  display: none;
}

.pdHeader {
  pointer-events: none;
  font-weight: 400;
  color: #000;
  border-bottom: solid 1px #d6d6d6;
  padding-left: 15px;
  font-size: 12px;
}

.pageSidebar-wrap {
  overflow-x: hidden;
  margin-right: 10px;
  margin-left: -10px;
  position: relative;
}

.pageSidebar-wrap.animated>* {
  transition: transform 200ms, visibility 200ms;
}

.pageSidebar-mainMenu,
.pageSidebar-subMenu {
  width: 280px;
}

.pageSidebar-mainMenu.translated {
  transform: translateX(-100%);
  visibility: hidden;
}

.pageSidebar-subMenu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  visibility: hidden;
  transform: translateX(100%);
}

.pageSidebar-subMenu.visible {
  visibility: visible;
  transform: translateX(0);
}

.pageSidebar-item {
  min-height: 44px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  border-radius: 8px;
  color: #202020;
}

.pageSidebar-item:hover {
  background-color: #fff;
}

.pageSidebar-item.active {
  font-weight: 700;
}

.pageSidebar-item svg {
  margin-right: 12px;
  min-width: 24px;
}

.pageSidebar-item svg:not(:first-child) {
  margin-right: 0;
  margin-left: auto;
}

.pageSidebar-itemText {
  flex: 1;
  line-height: 20px;
  padding: 6px 0;
}

.page-header {
  font-size: 30px;
  line-height: 30px;
  margin: 8px 0 22px;
  letter-spacing: -0.02em;
  max-width: 50%;
}

.page-header1 {
  font-size: 30px;
  line-height: 30px;
  margin: 8px 0 22px;
  letter-spacing: -0.02em;
  max-width: 500px;
}

.pageSubBlock {
  background-color: var(--page-block);
  padding: 15px 80px;
}

/* .pageBlock {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px var(--separator-reg);
  overflow: hidden;
  margin: 1px;
} */

.pageContainer {
  padding: 15px 80px;
  background-color: #fff;
}

.pageBlock {
  margin: 20px;
  border: solid 1px var(--separator-reg);
  background-color: var(--white-background);
  border-radius: 8px;
  overflow: hidden;
}

.pageBlock-head {
  background: var(--page-header);
  text-align: center;
  color: var(--white-text);
}

.pageBlock-header {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
  border-bottom: var(--acc-border);
}

.pageBlock-tabs {
  display: flex;
  margin-top: 4px;
  position: relative;
}

.pageBlock-tab {
  flex: 1;
  padding: 10px 6px 14px;
  opacity: 0.8;
  font-weight: 500;
}

.pageBlock-slider {
  position: absolute;
  background: var(--accent);
  height: 4px;
  bottom: 0;
  transition: transform .2s ease;
}

.pageBlock-tab.active,
.pageBlock-tab:hover {
  opacity: 1;
}

.pageBlock-body {
  /* margin: 20px 15px; */
  margin: 0 15px;
}

.searchField-wrap {
  font-weight: 300;
}

.searchField-inputWrap {
  position: relative;
}

.searchField-input {
  background-color: var(--secondary-input);
  padding: 12px 50px 12px 25px;
  width: 100%;
  line-height: 24px;
  border-radius: 24px;
  border: var(--acc-border);
  outline: 0;
  color: #000;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  letter-spacing: -.02em;
  text-overflow: ellipsis;
}

.searchField-input::placeholder,
.searchField-input::-webkit-input-placeholder {
  opacity: var(--acc-opacity);
  text-indent: 0px;
  transition: all 0.3s ease;
}

.searchField-submit {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -13px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIG9wYWNpdHk9IjAuNSI+CiAgICAgICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS4zMzEyIDE2LjE1MjJMMTUuNzE3OSAxNS43MDc0QzE2LjUyMDkgMTQuNjg2OCAxNyAxMy4zOTk0IDE3IDEyQzE3IDguNjg2MjkgMTQuMzEzNyA2IDExIDZDNy42ODYyOSA2IDUgOC42ODYyOSA1IDEyQzUgMTUuMzEzNyA3LjY4NjI5IDE4IDExIDE4QzEyLjcwMjQgMTggMTQuMjM5MSAxNy4yOTEgMTUuMzMxMiAxNi4xNTIyWk0xNy43MjUyIDE2LjMzNDRMMjEuMzk4MSAxOS41MjcxTDIwLjAxMzMgMjEuMTIwMUwxNi4zNTY5IDE3Ljk0MTdDMTQuOTM4OCAxOS4yMjExIDEzLjA2MDQgMjAgMTEgMjBDNi41ODE3MiAyMCAzIDE2LjQxODMgMyAxMkMzIDcuNTgxNzIgNi41ODE3MiA0IDExIDRDMTUuNDE4MyA0IDE5IDcuNTgxNzIgMTkgMTJDMTkgMTMuNTk3NCAxOC41MzE4IDE1LjA4NTQgMTcuNzI1MiAxNi4zMzQ0WiIgZmlsbD0iYmxhY2siIC8+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.searchField-input:focus::placeholder,
.searchField-input:focus::-webkit-input-placeholder {
  text-indent: 1500px;
  transition: text-indent 0.4s ease;
  -webkit-transition: text-indent 0.4s ease;
}

.searchField-text {
  margin-top: 10px;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -.02em;
  padding: 0 25px;
  text-align: left;
}

.searchForm-fieldset {
  position: relative;
  margin-top: 20px;
  z-index: 1;
}

.searchForm-inputWrap {
  border-radius: 23px;
  background-color: var(--separator-reg);
}

.searchForm-inputWrap:focus-within {
  background-image: var(--diia-highlight);
  background-size: 100% 20px;
}

.searchForm-input {
  width: 100%;
  height: 46px;
  border-radius: 23px;
  line-height: 18px;
  padding: 22px 36px 10px 16px;
  outline: 0;
  background-clip: padding-box;
  border: 0;
  border: var(--acc-border1);
  background-color: var(--secondary-input);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .searchForm-fieldset::before {
  content: "";
  position: absolute;
  border-radius: 23px;
  top: -0;
  left: -0;
  bottom: -0;
  right: -0;
  margin: auto;
  z-index: -1;
  transition: 0.2s ease-in-out;
  background-color: var(--separator-reg);
} */

/* .searchForm-fieldset:focus-within::before { */
  /* background-color: #9243da; */
  /* background-image: var(--diia-highlight);
  background-size: 100% 20px;
} */

.searchForm-label {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 16px;
  pointer-events: none;
  color: var(--secondary-3);
  font-size: 10px;
  line-height: 16px;
  transform: translateY(-12px);
}

.searchForm-buttons {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 20px;
  z-index: 1;
}

.searchForm-button {
  border-radius: 18px;
  font-size: 13.5px;
  height: 36px;
  position: relative;
  width: 170px;
  padding-bottom: 1px;
  font-weight: 700;
  background-color: var(--primary-button);
  line-height: 18px;
  color: #fff;
}

.searchForm-button:not(:first-child) {
  margin-left: 20px;
}

.searchForm-button svg {
  position: absolute;
  left: 10px;
  fill: #fff;
  top: 6px;
}

.searchResults-table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.searchResults-head {
  background: var(--page-header-lighter);
  color: var(--white-text);
  font-size: 11px;
  font-weight: 500;
}

.searchResults-head th {
  padding: 12px;
  word-wrap: break-word;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  padding: 0 15px;
}

.col-md-4 {
  flex: 0 0 33.33333%;
  padding: 0 15px;
}

.searchResults-body>tr {
  height: 85px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.searchResults-body>tr.active {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: var(--diia-highlight);
  background-size: 200% 300%;
  background-attachment: fixed;
  -webkit-animation: 10s infinite granimate;
  animation: 10s infinite granimate;
  color: #fff;
}

tr.active svg {
  transform: rotate(180deg);
}

tr.details {
  cursor: unset;
}

.detailsTable {
  text-align: left;
  font-size: 11px;
  font-weight: 500;
}

.detailsTable td {
  padding: 12px 2px 6px 32px;
}

.detailsTable td:nth-child(1) {
  width: 345px;
  border-right: solid 1px var(--separator-reg);
}

tr svg {
  transition: transform 200ms;
}

.searchResults-body>tr:not(.details):hover {
  background-color: #e8ecff;
}

.searchResults-body>tr:first-child {
  border-top: var(--acc-border);
}

.searchResults-body>tr:not(:last-child) {
  border-bottom: solid 1px var(--separator-reg);
}

.searchResults-body>tr:not(.details)>td {
  padding: 0 12px;
}

.showcase {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.showcase:not(:last-child) {
  margin-bottom: 24px;
}

.accButton {
  display: flex;
  margin: 10px 0;
  padding: 0 6px 1px;
  margin-right: 10px;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  line-height: 15px;
  font-weight: 500;
  font-size: 11px;
  box-shadow: 0 0 0 1px var(--white-text);
}

.accButton:hover {
  box-shadow: none;
}

.accButton svg {
  display: block;
  margin-right: 8px;
  margin-bottom: -1px;
}

.contactsTable {
  text-align: right;
}

.contactsTable td:not(:last-child) {
  padding-right: .7rem;
}

.pageFooter-content a:hover {
  text-decoration: underline;
}

.small {
  opacity: .8;
  font-size: 11px;
  margin-right: 6px;
}

.slideMenu-wrap {
  display: flex;
  padding: 24px 40px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slideMenu-item {
  margin-right: 30px;
  width: 100%;
  max-width: 290px;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.slideMenu-item:last-child {
  margin-right: 0;
}

.slideMenu-item:hover {
  text-decoration: underline;
}

.slideMenu-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 288px;
  height: 160px;
  margin-bottom: 20px;
}

.slideMenu-controlls {
  text-align: center;
  padding: 12px 0;
}

.slideMenu-controlls button {
  margin: 0 15px;
  transition: color 200ms;
}

.slideMenu-controlls button:hover {
  color: var(--secondary-2)
}

.services-item {
  border-top: 2px solid #000;
  padding: 20px 30px 0 0;
}

.services-info {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 80px;
}

.services-title {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 25px;
  display: block;
  position: relative;
  transition: 0.2s ease-in-out;
}

.services-title:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: -30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4wOTcyOCA4LjEyOTI5TDI0LjE2MTUgOC4xMjkzTDI0LjE2MTUgMjQuMTI5M0wyMi4xNjE1IDI0LjEyOTNMMjIuMTYxNSAxMS41MzYyTDguODAyNzUgMjQuODM3OUw3LjM5MTU2IDIzLjQyMDdMMjAuNzM5OSAxMC4xMjkzTDguMDk3MjcgMTAuMTI5M0w4LjA5NzI4IDguMTI5MjlaIiBmaWxsPSJibGFjayIgLz4KPC9zdmc+Cg==);
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.services-title:hover:before {
  opacity: 1;
}

.services-title:hover {
  text-decoration: underline;
}

.ui-navTabs {
  font-size: 20px;
  margin-bottom: 48px;
  line-height: 32px;
  letter-spacing: -.02em;
  display: flex;
  flex-wrap: wrap;
}

.ui-navTabs a {
  margin-right: 30px;
  color: #b2b2b2;
  padding-bottom: 6px;
  transition: .2s;
  white-space: nowrap;
  margin-bottom: 6px;
}

.ui-navTabs a:hover,
.ui-navTabs a.active {
  text-decoration: underline;
  color: #000;
}

.digBg {
  background-image: url('https://www.kmu.gov.ua/storage/app/sites/1/bunners/Fonds%20final.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: 160px;
}

.pt0 {
  padding-top: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.inline-link {
  text-decoration: underline;
}

.clear-btn {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

@media all and (max-width: 992px) {
  .col-md-6 {
    flex: 0 0 100%;
  }

  .col-md-4 {
    flex: 0 0 100%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mw600 {
    max-width: 600px;
  }

  .pageSubBlock {
    padding: 15px;
  }

  .page-header {
    font-size: 26px;
    line-height: 26px;
    max-width: 100%;
  }

  .page-header1 {
    font-size: 26px;
    line-height: 26px;
    max-width: 250px;
  }

  .pageHeader-extHerb {
    width: 74px;
    height: 74px;
  }

  .pageHeader-extLogo {
    height: 74px;
    width: 192px;
  }

  .ui-navTabs {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 29px;
  }

  .ui-navTabs a {}

  .searchField-text {
    text-align: center;
  }

  .searchField-input {
    font-size: 11px;
    line-height: 18px;
    padding: 15px 50px 15px 16px;
  }

  .services-item {
    padding: 6px 0 0;
  }

  .services-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .services-title:before {
    display: none;
  }

  .services-info {
    display: none;
  }

  .pageHeader-title {
    font-size: 10px;
  }

  .pageFooter-wrap {
    height: 140px;
  }

  .pageFooter-content {
    flex-direction: column;
    padding: 15px;
    align-items: baseline;
  }

  .pageFooter-block {
    justify-content: flex-start;
  }

  .contactsTable {
    text-align: left;
  }

  .pageHeader-menu.open {
    display: flex;
  }

  .pageHeader-pdTrigger,
  .pageHeader-personal>.authButton {
    display: none
  }

  .pageHeader-menuTrigger {
    display: block;
  }

  .pageBlock-header {
    font-size: 14px;
    font-weight: 400;
  }

  .searchResults-head {
    font-size: 10px;
  }

  .searchResults-body>tr {
    font-size: 10px;
    font-weight: 400;
  }

  .detailsTable td:nth-child(1) {
    width: auto;
  }

  .detailsTable td {
    padding-left: 12px;
  }

  td {
    word-wrap: break-word;
  }

  .accButton {
    display: none;
  }
}

@-webkit-keyframes granimate {

  0%,
  100% {
    background-position: 0 25%
  }

  25%,
  75% {
    background-position: 50% 50%
  }

  50% {
    background-position: 100% 100%
  }
}

@keyframes granimate {

  0%,
  100% {
    background-position: 0 25%
  }

  25%,
  75% {
    background-position: 50% 50%
  }

  50% {
    background-position: 100% 100%
  }
}